body {
    margin: 10% 10%;
    background: #bc7089;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.welcome h1 {
    font-size:3rem;
}
.welcome p{
    font-size: 20px;
}
.welcome{
    margin: 10%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    background-color: mintcream;
    width: 35%;
    border-radius: 4px;

}
li{
    list-style-type: disc;
    margin: 20px 0;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}
li a:link{
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
li a:visited {
    color: black;
}
li a:hover{
    background: lightgrey;
}