body {
    margin: 50% 10%;
    padding: 0;
    background: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.box-1 h1 {
    font-size:30px;
}
.box-1 p{
    font-size: 20px;
}
.menu_list{
    list-style-type: none;
}
.menu_contents a:link{
    float: left;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

.menu_contents a:visited {
    color: whitesmoke;
}
.menu_contents a:hover{
    background: lightgrey;
    color: cadetblue;
}