body {
    margin: 10% 10%;
    background: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.welcome h1 {
    font-size:30px;
}
.welcome p{
    font-size: 20px;
}
.welcome{
    margin: 10%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu-list{
    background-color: #bc7089;
    width: 35%;
}
.menu-contents{
    list-style-type: none;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-contents a:link{
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-contents a:visited {
    color: black;
}
.menu-contents a:hover{
    background: lightgrey;
}