body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rosybrown;
    color: white;

}

.button {
    background-color: white;
    color: black;
    border: 2px solid maroon; /* Green */
    transition-duration: 0.4s;
    text-align: center;
}

.button:hover {
    background-color: saddlebrown; /* Green */
    color: white;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rosybrown;
    text-align: center;
}
h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
