body {

    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    text-align: center;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

h1 {
    margin-top: 10%;
    text-align: center;
    font-size:3rem;
    color: black;
}
form{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"]{
    width: 111%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:24px;
    background-color: darkgreen;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

input[type="submit"]{
    width: 15%;
    height: 5%;
    box-sizing: border-box;
    background-color: darkgreen;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

input[name="input"]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: darkgreen;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

input[name="num"]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:24px;
    background-color: darkgreen;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    /* Mystery Green Color */
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
}
button {
    transition-duration: 0.4s;
    padding: 15px 20px;
    margin: 4px 2px;
    font-weight: bold;

    background-color: #003308; /* Green */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    border: darkgreen; /* Green */
    text-align: center;
    width: 200px;
    height: 50px;

    /* Terminal Text Style */
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}
button:hover{
    background-color: #e7e7e7;
}