<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home_screen</title>
    <link rel="stylesheet" href="../../resources/static/css/home_screen.css">
</head>

<body>

<div class="welcome">
    <h1>Welcome to the SpottyApp</h1>
    <p>
        This app will help you create a playlist using Spotify.
        All you need to do is to input a set of words!
    </p>
</div>

<div class="menu">
    <ul>
        <li><a id="PlayGen" href="">Generate Playlist</a></li>
        <li><a id="manage" href="">Manage Playlists</a></li>
        <li><a id="account" href="">Account Settings</a></li>
    </ul>

</div>

</body>
<script>
    const queryString = window.location.search;
    // console.log(queryString);
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id')
    // console.log(id);

    const PlayGen = document.getElementById("PlayGen");
    const manage = document.getElementById("manage");
    const account = document.getElementById("account");
    PlayGen.href = `/PlayGen?id=${id}`
    manage.href = `/manage?id=${id}`
    account.href = `/account?id=${id}`
    console.log(PlayGen.href)

</script>
</html>