<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Playlist Screen</title>
    <link rel="stylesheet" href="../static/css/managePlaylist.css">
</head>
<body>

<h1>Manage Playlists</h1>


<table style="width:60%">
    <tr>
        <td>Playlist Name</td>
        <td>Songs</td>
    </tr>
    <tr data-th-each="mapEntry : ${playlistMap}">
        <td data-th-text="${mapEntry.key}"></td>
        <td data-th-text="${mapEntry.value}"></td>
    </tr>
</table>



</body>
</html>