
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Playlist Generator Screen</title>
    <link rel="stylesheet" href="../static/css/playlistGen_screen.css">

</head>

<body>

<h1>Playlist Generator</h1>


<form action="/PlayGen" method="POST">
    <div>
        <label for="input">Please input a sentence:</label>
        <input name="input" id="input">
    </div>

    <div>
        <label for="num">Enter 1 for long a long playlist and 2 for a short playlist:</label>
        <input name="num" id="num" value="1">
    </div>
    <div>
        <label for="id"></label>
        <input type="text" name="id" id="id" value="">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>

 <p><span>&#9888;</span> WARNING: it may take 3-5 minutes to generate your playlist, this is normal. </p>

<form action="http://localhost:8080/dataStream">
    <input type="submit" value="Matrix mode" />
</form>

</body>
<script>
    const queryString = window.location.search;
    // console.log(queryString);
    const urlParams = new URLSearchParams(queryString);
    const id = urlParams.get('id')
    // console.log(id);

    const idInput = document.getElementById("id");
    idInput.value = id;
</script>
</html>
